.workItemFormImage[src=""] {
    display: none;
}

.workItemFormTextArea{
    width: 500px;
    height: 150px;
    min-width: 500px;
    max-width: 500px;
    min-height: 150px;
    max-height: 150px;

    vertical-align: top; 
}

.successfully-saved-message {
    color: green;
    display: none;
}

.error-saving-message {
    color: red;
    display: none;
}

.successfully-saved-message.saved-message-visible, .error-saving-message.error-saving-message-visible{
    display: block;
}

.workItemForm button[type="submit"]{
    margin: 5px 0px;
}
