.mainContentArea{
margin: 0px 0px 0px 220px;
padding: 20px; 
float:left;
background-color: rgb(249, 249, 248);
overflow: auto;

color: rgb(140,140,140);
}

.mainContentArea h1{
margin-top: 0px;
}

.mainContentArea img{
max-width: 938px;   
}