.workItemFormImage{
    max-width: 938px;
}

.workItemFormImage[src=""] {
    display: none;
}

.workItemFormTextArea{
    width: 500px;
    height: 150px;
    min-width: 500px;
    max-width: 500px;
    min-height: 150px;
    max-height: 150px;

    vertical-align: top; 
}