@font-face{
    font-family: 'Roboto-Light';
    src: url(/fonts/Roboto-Light.ttf)  
}

.workItem{
    width:170px;
    height: 213px;
    box-sizing: border-box;
    border: 1px solid rgb(221,221,221);
    margin: 22px 0px 0px 22px;
    background-color: rgb(200,200,200);
    text-align: center;

    float: left;
    position: relative;
}

.workItem:hover{
    cursor: pointer; 
    cursor: hand; 
}

.workItemImage{
    margin: 40px 0px 0px 0px;
    max-height: 65px;
    max-width: 65px;
}
.sepereationLineAndTitle{
    position: absolute;
    top: 123px;
    left: 47px;
}
.seperationLineBetweenWorkItemImageToTitle{
    content: url('/images/workItemSeperationLine.png');
}

.workItemTitle{
    margin: 20px 0px 0px 5px;
    text-align: center;
    letter-spacing: 8px;
    color: rgb(233, 233, 233)
}

.workItemEditButton{
    position: absolute;
    bottom: 3px;
    left: 3px;
    visibility: hidden;
}

.workItemDeleteButton{
    position: absolute;
    bottom: 3px;
    right: 3px;
    visibility: hidden;
}


.workItem:hover .workItemEditButton{visibility: visible;}
.workItem:hover .workItemDeleteButton{visibility: visible;}